@font-face {
  font-family: "iconfont"; /* Project id 3838941 */
  src: url('//at.alicdn.com/t/c/font_3838941_1ob4nuab5ps.woff2?t=1671976622812') format('woff2'),
       url('//at.alicdn.com/t/c/font_3838941_1ob4nuab5ps.woff?t=1671976622812') format('woff'),
       url('//at.alicdn.com/t/c/font_3838941_1ob4nuab5ps.ttf?t=1671976622812') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e622";
}
